@import url('https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fira+Code&display=swap');

@font-face {
	font-family: 'Monet';
	src: local('Monet'), url(./assets/fonts/monet.ttf);
}

* {
	--blue: #253c99;
	--orange: #f16622;
	--green: #02a24b;
	--red: #ec1c24;
	--purple: #7f3b97;
	--yellow: #ffe014;

	--border: 1px solid rgba(0, 0, 0, 0.1);
}

body {
	margin: 0 !important;
	padding: 0 !important;

	-webkit-font-smoothing: antialiased;
	overflow-x: hidden;

	background: #f9f9f9 !important;
	line-height: 1.7;
}

.sticky-top {
	position: sticky !important;
	top: 0 !important;
}

.sticky-top-60 {
	position: sticky !important;
	top: 60px !important;
}

.container-fluid {
	padding: 0 !important;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: 'Titillium Web', sans-serif;
	font-weight: 600;
}

pre,
code {
	font-family: 'Fira Code', monospace !important;
	/* color: rgba(31, 66, 146, 1); */
	word-wrap: break-word;
}

.mono {
	font-family: 'Fira Code', monospace !important;
	font-size: 16px;
}

.btn {
	font-family: 'Titillium Web', sans-serif;
	font-weight: 700;
}

.btn-warning {
	background: var(--orange);
	color: white;
	border: none !important;
	outline: none !important;
}

.btn-warning:hover {
	background: #d35a1e;
	color: white;
}

.btn-warning:active {
	box-shadow: none !important;
	outline: none !important;
	border: none !important;
}

.btn-primary {
	background: var(--blue);
	color: white;
	border: none !important;
	outline: none !important;
}

.btn-primary:hover {
	background: #1e3383;
	color: white;
}

.btn-primary:active {
	box-shadow: none !important;
	outline: none !important;
	border: none !important;
}

.btn-success {
	background: var(--green);
	color: white;
	border: none !important;
	outline: none !important;
}

.btn-success:hover {
	background: #02642e;
	color: white;
}

.btn-success:active {
	box-shadow: none !important;
	outline: none !important;
	border: none !important;
}

.green {
	color: var(--green);
}

.red {
	color: var(--red);
}

.dropdown-menu {
	border: 1px solid #eee !important;
	border-radius: 5px !important;
	margin-top: 5px;
	box-shadow: 0 2px 20px -10px #ddd !important;
}

.dropdown-item {
	color: black !important;
	font-size: 15px;
	padding-top: 5px !important;
	padding-bottom: 5px !important;
	text-transform: capitalize !important;
}

.dropdown-item:active {
	background: #f1f1f1;
}

.modal-content {
	border: none !important;
	border-radius: 5px !important;
	outline: none !important;
	box-shadow: none !important;
}

.modal-header {
	border-bottom: 1px solid #f3f3f3 !important;
}

.modal-body {
	padding: 30px 20px !important;
}

.modal-footer {
	border-top: 1px solid #f3f3f3 !important;
}
