@import url('https://fonts.googleapis.com/css?family=Titillium+Web:300,400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cousine&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fira+Code&display=swap');

/* Blue: #1f3b94 */
/* Red: #5bc0de */
/* Green: #5cb85c */
/* Orange: #f0ad4e */
/* Purple: #7B3992 */

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #f8f9fa !important;
	margin: 0 !important;
	padding: 0 !important;
	font-size: 15px;
	font-family: 'Open Sans', sans-serif !important;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: 'Open Sans', sans-serif !important;
}

.bg-light {
	background: rgba(255, 255, 255, 1) !important;
	color: #000 !important;
	width: 100% !important;
	/* border-bottom: 1px solid #fafafa; */
}

a {
	color: #7b3992;
}

a:hover {
	text-decoration: none !important;
	color: inherit !important;
}

.jumbotron {
	border-radius: 0 !important;
	padding: 30px 0 !important;
	background: #fff !important;
	/* margin-bottom: 0 !important; */
	box-shadow: 0 4px 20px #f1f1f1 !important;
	margin-bottom: 30px;
}

p {
	color: rgba(0, 0, 0, 0.7) !important;
}

.address {
	font-family: 'Cousine', monospace !important;
	font-size: 15px;
}

.btn {
	font-size: 15px;
	border-radius: 5px !important;
}

.btn:focus {
	box-shadow: none !important;
}

.btn-primary {
	background: #1f4292 !important;
	border: none !important;
}

.btn-outline-primary {
	color: #1f4292 !important;
	border-color: #1f4292 !important;
}

.btn-outline-primary:hover {
	color: #fff !important;
	background-color: #1f4292 !important;
	border-color: #1f4292 !important;
}

.btn-warning {
	background: #f26630 !important;
	border: none !important;
	color: white !important;
}

.btn-success {
	background-color: darkgreen;
	border-color: darkgreen;
}

.btn-outline-success {
	border-color: darkgreen;
	color: darkgreen !important;
}

.btn-outline-success:hover {
	color: #fff !important;
	background-color: darkgreen !important;
	border-color: darkgreen;
}

.btn-warning:hover {
	background: #e55e2b !important;
	border: none !important;
	color: white !important;
}

.modal-content {
	border: none !important;
	border-radius: 5 !important;
	outline: none !important;
	box-shadow: none !important;
}

.modal-header {
	border-bottom: 1px solid #f3f3f3 !important;
}

.modal-body {
	padding: 30px 20px !important;
}

.modal-footer {
	border-top: 1px solid #f3f3f3 !important;
}

.mono {
	font-family: 'Fira Code', monospace !important;
}

.dropdown-menu {
	border: 1px solid #eee !important;
	border-radius: 5px !important;
	margin-top: 5px;
	box-shadow: 0 2px 20px -10px #ddd !important;
}

.dropdown-item {
	color: black !important;
	font-size: 15px;
	padding-top: 5px !important;
	padding-bottom: 5px !important;
	text-transform: capitalize !important;
}

.dropdown-item:active {
	background: #f1f1f1;
}

hr {
	border-color: #f3f3f3 !important;
}
