@import url('https://fonts.googleapis.com/css?family=Titillium+Web:300,400&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cousine&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: #fafafa !important;
	margin: 0 !important;
	padding: 0 !important;
	font-family: 'Roboto', sans-serif !important;
	font-family: 'Titillium Web', sans-serif !important;
	font-size: 15px;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: 'Titillium Web', sans-serif !important;
}

.bg-light {
	background: rgba(255, 255, 255, 0.95) !important;
	color: #000 !important;
	box-shadow: 0 4px 6px -10px #f1f1f1 !important;
	width: 100% !important;
}

a {
	/* color: inherit !important; */
	color: rgba(0, 0, 0, 0.6);
}

a:hover {
	text-decoration: none !important;
	color: inherit !important;
}

.jumbotron {
	border-radius: 0 !important;
	padding: 25px 0 !important;
	background: #fff !important;
	margin-bottom: 0 !important;
}

p {
	color: rgba(0, 0, 0, 0.7) !important;
}

.address {
	font-family: 'Cousine', monospace !important;
	font-size: 15px;
}

.btn {
	border-radius: 0 !important;
}

.btn-primary {
}

.dropdown-menu {
	border: none !important;
	border-radius: 0 !important;
	box-shadow: 0 2px 20px -10px #ddd !important;
}

.modal-content {
	border: none !important;
	border-radius: 0 !important;
	outline: none !important;
	box-shadow: none !important;
}

.modal-header {
	border-bottom: 1px solid #f9f9f9 !important;
}

.modal-body {
	padding: 30px 20px !important;
}

.modal-footer {
	border-top: 1px solid #f9f9f9 !important;
}
